<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='playground.css') }}">
    <title>Playground</title>
    <style>
        /** {
            outline: 1px dotted red
        }*/
        
        h1 {
            margin: 0px auto;
            height: 100px;

            padding: 5px;
            text-align: center;
        }
        p{
            text-align: center;
            font-size: 25px;
        }

    </style>
</head>

<body>
    <h1>Welcome!</h1>
    <p>Para seguir escribe /play en la url! </p>

</body>

</html>
